.MakeSubscription form {
    background: white;
    margin-top: 3%;
    margin-left: 20%;
    opacity: 0.95;
    border-radius: 15px;
    width: 60%;
    padding: 2%;
}

.inputStyle1 {
    margin-left:3%;
    width: 30%;
    font-size: 17px;
    color: black;
}

.selectDays{
    margin-left:3%;
    width: 30%;
    font-size: 17px;
    color: black;
    float: left;
}