.SubscriptionSummary form{
    background: white;
    margin-top: 3%;
    margin-left: 30%;
    opacity: 0.95;
    border-radius: 15px;
    width: 40%;
    padding: 3%;
}

.SubscriptionSummary form fieldset{
    border: 2px solid #555555;
    border-radius: 15px;
    padding: 7%;
}