.Wallet form{
    background: white;
    margin-top: 5%;
    margin-left: 30%;
    opacity: 0.97;
    border-radius: 15px;
    width: 40%;
}

.buttonBack {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    margin-top: 5%;
    margin-left: 44%;
    border: 1px solid grey;
    margin-bottom: 5%;
    clear:left;
}

.buttonMoney{
    color: blue;
    background-color: transparent;
    padding: 5px 8px;
    margin-top: 5%;
    border: 1px solid blue;
    margin-bottom: 5%;
    margin-left: 15%;
}

.buttonCrypto{
    color: blue;
    background-color: transparent;
    padding: 5px 8px;
    margin-top: 5%;
    border: 1px solid blue;
    margin-bottom: 5%;
    margin-left: 31%;
}

.input1{
    background-color: transparent;
    margin-top: 5%;
    margin-left: 12%;
    width: 26%;
    float: left;
}

.input2{
    background-color: transparent;
    margin-top: 5%;
    margin-left: 22%;
    width: 26%;
    float: left;
}

.buttonBack:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}
