.AddTariff form{
    padding: 2%;
    background: white;
    margin-top: 2%;
    margin-left: 30%;
    opacity: 0.97;
    border-radius: 15px;
    width: 40%;
}
.button1 {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    border: 1px solid grey;
    display: inline;
    margin-left: 72%;
}

.button2 {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    border: 1px solid grey;
    display: inline;
}

.button2:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}

.button1:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}