@import url('https://fonts.googleapis.com/css?family=Roboto');

@media all and (min-width: 500px) {

    .Register {
        padding: 10px 0;
        color: white;
        background-repeat: no-repeat;
    }

    .Register form {
        margin-left: 60%;
        max-width: 280px;
        background-color: transparent;
    }

    .Register button{
        color: white;
        background-color: transparent;
        padding: 5px 8px;
        margin-left: 68%;
        border: 1px solid white;
    }

    .Register button:hover{
        background-color: #555555;
        color: white;
        border: 1px solid #555555;
    }

    .body {
        margin: 0;
        padding: 0;
        background-image: url("../../commons/images/backRegister.jpg");
        background-repeat: repeat;
        width: 100%;
    }

}