.Client form{
    background: white;
    margin-top: 2%;
    margin-left: 20%;
    opacity: 0.97;
    border-radius: 15px;
    width: 60%;
}

.Client button {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    margin-left: 75%;
    border: 1px solid grey;
    margin-bottom: 2%;
}

.Client button:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}

.Client img{
    margin-left: 5%;
    width: 11%;
    float:left;
}