@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../../commons/images/backRegister.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#devices {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #locations td, #locations th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #locations tr:nth-child(even){background-color: #f2f2f2;}
  #locations tr:nth-child(odd){background-color: #ffffff;}
  
  #locations tr:hover {background-color: #ddd;}
  
  #locations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #085594;
    color: white;
  }


  .Location {
    padding: 10px 0;
    color: white;
    margin-top: 10%;
    background-repeat: no-repeat;
}

.Location form {
    margin-left: 60%;
    max-width: 280px;
    background-color: transparent;
}

.Location button{
    color: white;
    background-color: transparent;
    padding: 5px 6px;
    margin-top: 10px;
    margin-left: 67%;
    border: 1px solid white;
}

.Location button:hover{
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}

.Location .dropdown-menu {
  height: 100px;
  overflow-y: scroll;
}

.Details-form{
  background: white;
  margin-top: 2%;
  margin-left: 20%;
  opacity: 0.37;
  border-radius: 5px;
  width: 40%;
  height: 80%;
}

.Details button {
  color: black;
  background-color: transparent;
  padding: 5px 8px;
  margin-left: 75%;
  border: 1px solid grey;
  margin-bottom: 2%;
}

.Details button:hover {
  background-color: #555555;
  color: white;
  border: 1px solid #555555;
}

  

