@import url('https://fonts.googleapis.com/css?family=Roboto');

    .ResetPassword {
        padding: 10px 0;
        color: white;
        margin-top: 10%;
        background-repeat: no-repeat;
    }

    .ResetPassword form {
        margin-left: 60%;
        max-width: 280px;
        background-color: transparent;
    }

    .ResetPassword button{
        color: white;
        background-color: transparent;
        padding: 5px 6px;
        margin-top: 10px;
        margin-left: 67%;
        border: 1px solid white;
    }

    .ResetPassword button:hover{
        background-color: #555555;
        color: white;
        border: 1px solid #555555;
    }

.text1:hover {
    text-decoration: underline #00FF00
}

.text2:hover {
    text-decoration: underline yellow
}

.resume_link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(250, 114, 64);
    -moz-text-decoration-color: rgb(250, 114, 64);
    text-decoration-thickness: 5px;
  }

