.MakeReservation form {
    background: white;
    margin-top: 3%;
    margin-left: 20%;
    opacity: 0.95;
    border-radius: 15px;
    width: 60%;
    padding: 2%;
}

.selectStyle1{
    width: 12%;
    float: left;
    margin-left: 25%;
    font-size: 17px;
}

.selectStyle2{
    width: 12%;
    margin-left: 8%;
    float: left;
    font-size: 17px;
}

.buttonPrice {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    border: 1px solid grey;
    display: inline;
    margin-left: 79%;
    margin-top: 5%;
    font-size: 17px;
}

.buttonPrice:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}


