.ReservationSummary form{
    background: white;
    margin-top: 3%;
    margin-left: 30%;
    opacity: 0.95;
    border-radius: 15px;
    width: 40%;
    padding: 3%;
}

.ReservationSummary form fieldset{
    border: 2px solid #555555;
    border-radius: 15px;
    padding: 7%;
}

.text1{
    width: 64%;
    margin-top: -12%;
    margin-left: 20%;
    background: white;
    text-align: center;
}

.info{
    font-size: 18px;
}