.JoinReservation-form{
    background: white;
    margin-top: 2%;
    margin-left: 20%;
    opacity: 0.37;
    border-radius: 5px;
    width: 40%;
    height: 80%;
  }
  
  .JoinReservation button {
    color: black;
    background-color: transparent;
    padding: 5px 8px;
    margin-left: 75%;
    border: 1px solid grey;
    margin-bottom: 2%;
  }
  
  .JoinReservation button:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
  }